<div id="<%= dom_id track %>">
  <p>
    <strong>Album:</strong>
    <%= track.album %>
  </p>

  <p>
    <strong>Album image url:</strong>
    <%= track.album_image_url %>
  </p>

  <p>
    <strong>Spotify:</strong>
    <%= track.spotify_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= track.name %>
  </p>

  <p>
    <strong>Preview url:</strong>
    <%= track.preview_url %>
  </p>

  <p>
    <strong>Youtube url:</strong>
    <%= track.youtube_url %>
  </p>

  <p>
    <strong>Youtube likes count:</strong>
    <%= track.youtube_likes_count %>
  </p>

  <p>
    <strong>Youtube views count:</strong>
    <%= track.youtube_views_count %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= track.rank %>
  </p>

  <p>
    <strong>Age top 10:</strong>
    <%= track.age_top_10 %>
  </p>

</div>
